@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Fleur+De+Leah&family=Hurricane&family=Imperial+Script&family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 185vh;
    width: 100%;
}

nav{
    height: 3.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 30px 0 20px;
    position: fixed;
    z-index: 1;
}

#nav_left{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav_left img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

#nav_left p{
    font-size: 30px;
    font-family: 'Fleur De Leah', cursive;
    font-weight: 500;
    color: rgb(0, 0, 0);
}       

#nav_mid ul{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

#nav_mid ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "boska", cursive;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}


#nav_mid ul li::after{
    content: '';
    height: 2px;
    width: 0vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0vw;
    left: 0%;
    transform: scale(0);

}

#nav_mid ul li:hover::after{
    width: 100%;
    background-color: #000;
    transform: scale(1);
    transition: all ease 0.3s;
}

#nav_right i{
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#fixedpart{
    height: 5vw;
    width: 100%;
/*     background-color: aquamarine;
 */    display: flex;
    align-items: center;
    padding: 0vw 1vw;
    top: 89vh;
    position: fixed;
    z-index: 2;
}

#fixedpart_left{
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
}

#fixedpart_left img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

#fixedpart_left h2{
    font-family: 'Fleur De Leah', cursive;
    margin: -5px 10px;
    font-weight: 600;
}

#fixedpart_left h6{
    font-family: 'satoshi', cursive;
    margin: 0 10px;
    font-weight: 600;
    line-height: 0.9;
}
#fixedpart_right h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}













#content{
    height: 180vh;
    width: 100%;
    padding-top: 7vh;
}

#heading{
    height: 35vh;
    width: 100%;
}

#heading h1{
    line-height: 0.9;
}

#cursive{
    text-align: center;
    font-size: 120px;
    font-family: 'Fleur De Leah', cursive;/* ---------------- */
    font-weight: 500;
}

#bold{
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'gambarino', cursive;
    font-weight: 500;
}

#mainimagepart{
    height: 140vh;
    width: 100%;
    display: flex;
/*     background-color: rosybrown; */
}

#necklace{
    height: 13vw;
    width: 18vw;
    position: absolute;
    top: 51vw;
    left: 4vw;
    border-radius: 20px;
    animation-name: ltrr;
    animation-timeline: view();
    animation-range: entry 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes ltrr{
    from{
        transform: translateX(-500%);
    }
    to{
        transform: translateX(0);
    }
}

#mainimage{
    height: 130vh;
    margin-left: 22%;
    border-radius: 70px;
    z-index: -1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#earrings{
    height: 29vw;
    width: 16vw;
    position: absolute;
    right: 4vw;
    top: 100%;
/*     background-color: aqua;
 */    border-radius: 20px;
    animation-name: rtll;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes rtll{
    from{
        transform: translateX(50vw);
    }
    to{
        transform: translateX(0);
    }
}

#earrings img{
    height: 21vw;
    width: 16vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#earrings h2{
    font-family: "fleur de leah", cursive;
    margin: 0.5vw 0vw;
    font-weight: 600;
    cursor: pointer;
}

#earrings h5{
    font-family: "satoshi", cursive;
    margin: 0.5vw 0vw;
    font-weight: 500;
}

/* --------------------------------------------------------------- */







#page2{
    height: 110vh;
    width: 100%;
    padding-top: 8vh;
    line-height: 0.9;
    display: block;
    text-align: center;
}

#pg2cursive{
    font-size: 80px;
    font-family: 'Fleur De Leah', cursive;/* ---------------- */
    font-weight: 500;
}

#pg2bold{
    font-size: 110px;
    text-transform: uppercase;
    font-family: 'gambarino', cursive;
    font-weight: 500;
}

#pg2heading p{
    font-size: 1.1vw;
    font-family: "gambarino", cursive;
    margin: 1vw 0vw;
    font-weight: 600;
    line-height: 1;
}

#pg2heading button{
    font-size: 1.2vw;
    background-color: #646949;
    color: aliceblue;
    font-family: "gambarino", cursive;
    margin-bottom: 0.5vw;
    font-weight: 600;
    padding: 0.5vw 1vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#pg2images{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#ll{
    height: 60vh;
    margin-top: -5vh;
    transform: translateY(-15vh);
    transition: all ease 0.5s;
    width: 15%;
    background-image: url(/media/ear_rings.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 20px;
}

#l{
    height: 35vh;
    width: 15%;
    margin-top: 5vh;
    background-image: url(/media/hand.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transform: translateY(-10vh);
    transition: all ease 0.5s;
}

#m{
    height: 52vh;
    width: 20%;
    margin-top: 2vh;
    background-image: url(/media/necklaces.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#r{
    height: 35vh;
    width: 15%;
    margin-top: 5vh;
    transform: translateY(-10vh);
    transition: all ease 0.5s;
    background-image: url(/media/bangles.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#rr{
    height: 60vh;
    width: 15%;
    margin-top: -5vh;
    transform: translateY(-15vh);
    transition: all ease 0.5s;
    background-image: url(/media/rings.webp);
    background-size: cover;
    background-position: bottom;
    border-radius: 20px;
}

#rr:hover , #ll:hover{
    height: 70vh;
    width: 18%;
}

#r:hover , #l:hover {
    height: 40vh;
    width: 18%;
}


#page3{
    height: 100vh;
    width: 100%;
    line-height: 0.9;
    display: block;
    text-align: center;
}