@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Fleur+De+Leah&family=Hurricane&family=Imperial+Script&family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: white;
}

#home{
    height: 185vh;
    width: 100%;
}

nav{
    height: 3.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 30px 0 20px;
    position: fixed;
    z-index: 100;
    color: #020402;
}

#nav_left{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav_left img{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

#nav_left p{
    font-size: 30px;
    font-family: 'Fleur De Leah', cursive;
    font-weight: 500;
}       

#nav_mid ul{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

#nav_mid ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "boska", cursive;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}


#nav_mid ul li::after{
    content: '';
    height: 2px;
    width: 0vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0vw;
    left: 0%;
    transform: scale(0);

}

#nav_mid ul li:hover::after{
    width: 100%;
    background-color: #020402;
    transform: scale(1);
    transition: all ease 0.3s;
}

#nav_right i{
    font-size: 18px;
    font-weight: 400;
    color: #020402;
    cursor: pointer;
}

#fixedpart{
    height: 5vw;
    width: 100%;
/*     background-color: aquamarine;
 */    display: flex;
    align-items: center;
    padding: 0vw 1vw;
    top: 89vh;
    position: fixed;
    z-index: 2;
}

#fixedpart_left{
    height: 100%;
    width: 94%;
    display: flex;
    align-items: center;
}

#fixedpart_left img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

#fixedpart_left h2{
    font-family: 'Fleur De Leah', cursive;
    margin: -5px 10px;
    font-weight: 600;
}

#fixedpart_left h6{
    font-family: 'satoshi', cursive;
    margin: 0 10px;
    font-weight: 600;
    line-height: 0.9;
}
#fixedpart_right h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}













#content{
    height: 180vh;
    width: 100%;
    padding-top: 7vh;
}

#heading{
    height: 35vh;
    width: 100%;
}

#heading h1{
    line-height: 0.9;
}

#cursive{
    text-align: center;
    font-size: 120px;
    font-family: 'Fleur De Leah', cursive;/* ---------------- */
    font-weight: 500;
}

#bold{
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'gambarino', cursive;
    font-weight: 500;
}

#mainimagepart{
    height: 140vh;
    width: 100%;
    display: flex;
/*     background-color: rosybrown; */
}

#necklace{
    height: 13vw;
    width: 18vw;
    position: absolute;
    top: 51vw;
    left: 4vw;
    border-radius: 20px;
    animation-name: ltrr;
    animation-timeline: view();
    animation-range: entry 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes ltrr{
    from{
        transform: translateX(-500%);
    }
    to{
        transform: translateX(0);
    }
}

#mainimage{
    height: 130vh;
    margin-left: 22%;
    border-radius: 70px;
    z-index: -1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#earrings{
    height: 29vw;
    width: 16vw;
    position: absolute;
    right: 4vw;
    top: 100%;
/*     background-color: aqua;
 */    border-radius: 20px;
    animation-name: rtll;
    animation-timeline: view();
    animation-range: entry 0%;
}

@keyframes rtll{
    from{
        transform: translateX(50vw);
    }
    to{
        transform: translateX(0);
    }
}

#earrings img{
    height: 21vw;
    width: 16vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#earrings h2{
    font-family: "fleur de leah", cursive;
    margin: 0.5vw 0vw;
    font-weight: 600;
    cursor: pointer;
}

#earrings h5{
    font-family: "satoshi", cursive;
    margin: 0.5vw 0vw;
    font-weight: 500;
}

/* --------------------------------------------------------------- */







#page2{
    height: 110vh;
    width: 100%;
    padding-top: 8vh;
    line-height: 0.9;
    display: block;
    text-align: center;
}

#pg2cursive{
    font-size: 80px;
    font-family: 'Fleur De Leah', cursive;/* ---------------- */
    font-weight: 500;
}

#pg2bold{
    font-size: 110px;
    text-transform: uppercase;
    font-family: 'gambarino', cursive;
    font-weight: 500;
}

#pg2heading p{
    font-size: 1.1vw;
    font-family: "gambarino", cursive;
    margin: 1vw 0vw;
    font-weight: 600;
    line-height: 1;
}

#explore_btn{
    position: fixed;
    top: -20px;
    left: -20px;
    width: 30px;
    height: 30px;
    background-color: #646949;
    border-radius: 50%;
    opacity: 0.8;
    transform:  translateX(0)
                translateY(0)
                scale(0);
                
    transition: trasnform 1500ms;
    z-index: 111111;
    pointer-events: none;
}

#pg2images{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#ll{
    height: 60vh;
    margin-top: -5vh;
    transform: translateY(-15vh);
    transition: all ease 0.5s;
    width: 15%;
    background-image: url(/media/ear_rings.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 20px;
    z-index: 1;
}

.category-button::before{
    content: 'Explore';
    font-size: 1.2vw;
    font-family: 'gambarino', cursive;
    height: 6vh;
    width: 60%;
    background-color: #646949;
    color: #DADED8;
    font-weight: 500;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0vw;
    left: 20%;
    margin-top: 0vh;
    border-radius: 20px;
    opacity: 0;

}

.category-button:hover::before{
    opacity: 1;
    margin-top: -6vh;
    transition: all ease 700ms;
}

#l{
    height: 35vh;
    width: 15%;
    margin-top: 5vh;
    background-image: url(/media/hand.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transform: translateY(-10vh);
    transition: all ease 0.5s;
}



#m{
    height: 52vh;
    width: 20%;
    margin-top: 2vh;
    background-image: url(/media/necklaces.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#r{
    height: 35vh;
    width: 15%;
    margin-top: 5vh;
    transform: translateY(-10vh);
    transition: all ease 0.5s;
    background-image: url(/media/bangles.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#rr{
    height: 60vh;
    width: 15%;
    margin-top: -5vh;
    transform: translateY(-15vh);
    transition: all ease 0.5s;
    background-image: url(/media/rings.webp);
    background-size: cover;
    background-position: bottom;
    border-radius: 20px;    
}

#rr:hover , #ll:hover{
    height: 70vh;
    width: 18%;
    cursor: pointer;
}

#r:hover , #l:hover {
    height: 40vh;
    width: 18%;
    cursor: pointer;
}

#m:hover{
    cursor: pointer;
}


 /* Modal backdrop and box */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 3.5%;
    top: 7%;
    width: 90%;
    height: 80%;
    background-color: #EAEFF3;
    border-radius: 12px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    
    /* Transition setup */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* When modal is active (add this class using JS) */
.modal.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

/* Modal inner container */
.modal-content {
    position: absolute;
    height: 500vh;
}

#modal-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-family: "gambarino", cursive;
    color : #000;
}

/* Close Button (X) */
.close {
    position: sticky;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    z-index: 1000;
}

/* Product image */
.products-grid img {
    width: 100%;
    transition: transform 0.3s ease;
}

.products-grid img:hover {
    transform: scale(1.1);
}

.products-grid {
    position: relative;
    height: 600px; /* Adjust based on content */
}

.products-grid .product {
    position: absolute;
}

/* Example custom positions */
.products-grid .product:nth-child(1) {
    top: 2vw;
    left: 33vw;
    height: 40vw;
    width: 20vw;
}

.products-grid .product:nth-child(2) {
    top: 40vw;
    left: 22vw;
    height: 10vw;
    width: 20vw;
}


.products-grid .product:nth-child(3) {
    top: 40vw;
    left: 45vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(4) {
    top: 66vw;
    left: 22vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(5) {
    top: 66vw;
    left: 45vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(6) {
    top: 92vw;
    left: 33vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(7) {
    top: 119vw;
    left: 22vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(8) {
    top: 122vw;
    left: 45vw;
    height: 10vw;
    width: 20vw;
}

.products-grid .product:nth-child(9) {
    top: 155vw;
    left: 22vw;
    height: 10vw;
    width: 20vw;
}
.products-grid .product:nth-child(10) {
    top: 155vw;
    left: 45vw;
    height: 10vw;
    width: 20vw;
}
/* You can keep customizing nth-child for each */










































/* -------------------------------------------------------------------- */

#page3{
    height: 100vh;
    width: 100%;
    line-height: 0.9;
    background: radial-gradient(circle at 50% 50%, #646949 ,rgba(255, 255, 255) 50%);
    background: linear-gradient(0deg, #384D33, rgba(255, 255, 255) 50%);
}

#pg3heading{
    height: 30vh;
    width: 100%;
    margin-top: 35vh;
    line-height: 0.9;
    display: block;
    text-align: center;
    position: absolute;
}   

#pg3cursive{
    font-size: 80px;
    font-family: 'Fleur De Leah', cursive;/* ---------------- */
    font-weight: 500;
}

#pg3bold{
    font-size: 110px;
    text-transform: uppercase;
    font-family: 'gambarino', cursive;
    font-weight: 500;
}

#qwert{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

#ring_ceremony, #haldi_ceremony, #wedding_ceremony{
    height: 100vh;
    width: 32%;
    border-radius: 20px;
    margin-top: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    object-fit: cover;
}

#ring_ceremony_up, #haldi_ceremony_up, #wedding_ceremony_up{
    height: 50vh;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
}

#ring_ceremony_down, #haldi_ceremony_down, #wedding_ceremony_down{
    height: 50vh;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
}

#ring_ceremony video, #haldi_ceremony video, #wedding_ceremony video{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}



#ring_ceremony img, #haldi_ceremony img, #wedding_ceremony img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}


























































#page4{
    height: 100vh;
    width: 100%;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #384D33, rgba(255, 255, 255) 50%);
}

footer{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#pillar_images{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    gap: 40vw;
    overflow: hidden ;
}

footer img{
    height: 120%;
    width: 50%;
    object-fit: contain;
    mix-blend-mode: darken ;
    opacity: 0.8;
    margin-left: -7vw;
    margin-top: 7vw;
    
}

footer h1{
    font-size: 25vw;
    font-family: "fleur de leah", cursive;
    font-weight: 400;
    position: absolute;
    top: 0%;
    margin-top: 0vh;
    text-align: center; 
    width: 100%;
    color: #020402;
    z-index: 11;
    line-height: 0.7;
}

#screen{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to top, #00000075, rgba(255, 255, 255, 0) 0%);
    z-index: 10;
}

#footer_wp{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    font-size: 1.2vw;
    font-family: "gambarino", cursive;
    font-weight: 400;
    color: #daded8;
    line-height: 0.7;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#footer_wp details{
    position: relative;

}

#footer_wp details summary{
    cursor: pointer;
    list-style: none;
}

#footer_wp details ul{
    position: absolute;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    width: max-content;
    background-color: crimson;
}

#footer_wp details ul li{
    padding: 1vw;
    cursor: pointer;
}